In [123]:
import pandas as pd ;

Creating  a data frame

In [124]:
dict1 = {
    "Name": ["Priyang", "Aadhya", "Vedant", "Parshv", "Mittal", "Archana"],
    "Marks": [98, 99, 87, 90,53, 99],
    "Gender": ["Male", "Female", "Male", "Male", "Male", "Female"]
}
df = pd.DataFrame(dict1);
print(df);

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     99  Female
2   Vedant     87    Male
3   Parshv     90    Male
4   Mittal     53    Male
5  Archana     99  Female

Display Top Three Rows

In [125]:
print(df.head(3));

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     99  Female
2   Vedant     87    Male

Display last 3 rows

In [126]:
print(df.tail(3));

      Name  Marks  Gender
3   Parshv     90    Male
4   Mittal     53    Male
5  Archana     99  Female

Find the Shape of Our Dataset (Number of Rows and Number of Columns)

In [127]:
print(df.shape) ;

(6, 3)

Print number of rows and columns

In [128]:
print('Number of Rows',df.shape[0])
print('Number of Columns',df.shape[1])

Number of Rows 6
Number of Columns 3

Get Infromation about our dataset like total Number of ROWS ,Total Number of Columns,Data Types of Each Column and Memory Requirement

In [129]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Marks   6 non-null      int64
 2   Gender  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

Check if ther are null values or not ?

In [130]:
print(df.isnull().sum(axis=0))
print(df.isnull().sum(axis=1))

Name      0
Marks     0
Gender    0
dtype: int64
0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

Get overall Statistics about the DataFrame

In [131]:
print(df.describe());#Since we only have one column that contain numeric variable that's why we are getting descriptive data related only to Marks Columns but if we want data of all columns i.e of that also which are stringed type then pass include="all" value
print(df.describe(include="all"));

           Marks
count   6.000000
mean   87.666667
std    17.727568
min    53.000000
25%    87.750000
50%    94.000000
75%    98.750000
max    99.000000
           Name      Marks Gender
count         6   6.000000      6
unique        6        NaN      2
top     Priyang        NaN   Male
freq          1        NaN      4
mean        NaN  87.666667    NaN
std         NaN  17.727568    NaN
min         NaN  53.000000    NaN
25%         NaN  87.750000    NaN
50%         NaN  94.000000    NaN
75%         NaN  98.750000    NaN
max         NaN  99.000000    NaN

Find the unique values from Gender Columns

In [132]:
print(df['Gender'].unique()) ;

['Male' 'Female']

Find the number of Unique Values

In [133]:
print(df['Gender'].nunique());

2

Find the display Count of Unique Values in Gender Column

In [134]:
print(df['Gender'].value_counts());

Gender
Male      4
Female    2
Name: count, dtype: int64

Find the Total Number of Students having Marks between 90 to 100

In [135]:
x = df[df['Marks']>=90 ]
print(x.count());

Name      4
Marks     4
Gender    4
dtype: int64

Another Way

In [136]:
print(df[df["Marks"]>=90]);
print(df[(df["Marks"]>=90) & (df["Marks"]<=100)]);
#To get Lenght
print(len(df[df["Marks"]>=90]));
print(len(df[(df["Marks"]>=90) & (df["Marks"]<=100)]));

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     99  Female
3   Parshv     90    Male
5  Archana     99  Female
      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     99  Female
3   Parshv     90    Male
5  Archana     99  Female
4
4

Using Between Method

In [137]:
print(df["Marks"].between(95,100))
print(len(df[df["Marks"].between(95,100)]))

0     True
1     True
2    False
3    False
4    False
5     True
Name: Marks, dtype: bool
3

Find Average Marks

In [138]:
print(df["Marks"].mean());
print(df["Marks"].min());
print(df["Marks"].max());

87.66666666666667
53
99

Create you own method and apply that method to data frame

For this u'll need apply method

In [139]:
def marks(x):
    return x/2;

In [140]:
df["divided_marks"] = df['Marks'].apply(marks)
print(df["divided_marks"])

0    49.0
1    49.5
2    43.5
3    45.0
4    26.5
5    49.5
Name: divided_marks, dtype: float64

Let's apply lambda function with apply method

In [141]:
df_lambda = df["Marks"].apply(lambda x:x/2);
print(df_lambda)

0    49.0
1    49.5
2    43.5
3    45.0
4    26.5
5    49.5
Name: Marks, dtype: float64

Lenght of String in Name Column

In [142]:
df["Name"].apply(len)

0    7
1    6
2    6
3    6
4    6
5    7
Name: Name, dtype: int64

Use map function

In [143]:
df["Male_Female"]=df["Gender"].map({'Male':1,'Female':0});

Drop the Columns or  Columns

In [146]:
print(df.drop("divided_marks",axis=1));
#For Multiple Columns
print(df.drop(["divided_marks","Male_Female"],axis = 1 ));

      Name  Marks  Gender  Male_Female
0  Priyang     98    Male            1
1   Aadhya     99  Female            0
2   Vedant     87    Male            1
3   Parshv     90    Male            1
4   Mittal     53    Male            1
5  Archana     99  Female            0
      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     99  Female
2   Vedant     87    Male
3   Parshv     90    Male
4   Mittal     53    Male
5  Archana     99  Female

Print Names Of Columns

In [149]:
print(df.columns);
print(df.index);

Index(['Name', 'Marks', 'Gender', 'divided_marks', 'Male_Female'], dtype='object')
RangeIndex(start=0, stop=6, step=1)

Sort THE MARKS OF Students

In [153]:
print(df.sort_values(by="Marks"));
# For multiple values you can simple pass list contain values in by parameter instead of Marks

      Name  Marks  Gender  divided_marks  Male_Female
4   Mittal     53    Male           26.5            1
2   Vedant     87    Male           43.5            1
3   Parshv     90    Male           45.0            1
0  Priyang     98    Male           49.0            1
1   Aadhya     99  Female           49.5            0
5  Archana     99  Female           49.5            0

Display name and marks of female studenst only

In [156]:
df[df["Gender"] == "Female"][["Name","Marks"]]

      Name  Marks
1   Aadhya     99
5  Archana     99

We can also solve above quesion with isin method

In [159]:
print(df[df["Gender"].isin(["Female"])][["Name","Marks"]]);

      Name  Marks
1   Aadhya     99
5  Archana     99