In [90]:
import pandas as pd ;

Get Data From CSV File

In [91]:
df = pd.read_csv("Salaries.csv");

C:\Users\AC\AppData\Local\Temp\ipykernel_3928\2753980694.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Salaries.csv");

Display Top 10 and Bottom 10 Rows

In [92]:
print("Getting Top 10 Rows",df.head(10))
print("Getting Bottom 10 Rows",df.tail(10))

Getting Top 10 Rows    Id        EmployeeName                                        JobTitle
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  \
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43  \
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19
5   118602.0      8601.0  189082.74      NaN  316285.74         316285.74
6   92492.01     89062.9  134426.14      NaN  315981.05         315981.05
7  256576.96         0.0    51322.5      NaN  307899.46         307899.46
8  176932.64    86362.68   40132.23      NaN  303427.55         303427.55
9   285262.0         0.0   17115.73      NaN  302377.73         302377.73

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN
5  2011    NaN  San Francisco    NaN
6  2011    NaN  San Francisco    NaN
7  2011    NaN  San Francisco    NaN
8  2011    NaN  San Francisco    NaN
9  2011    NaN  San Francisco    NaN
Getting Bottom 10 Rows             Id      EmployeeName                      JobTitle       BasePay
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant          0.00  \
148645  148646  Carolyn A Wilson     Human Services Technician          0.00
148646  148647      Not provided                  Not provided  Not Provided
148647  148648    Joann Anderson   Communications Dispatcher 2          0.00
148648  148649       Leon Walker                     Custodian          0.00
148649  148650     Roy I Tillery                     Custodian          0.00
148650  148651      Not provided                  Not provided  Not Provided
148651  148652      Not provided                  Not provided  Not Provided
148652  148653      Not provided                  Not provided  Not Provided
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits  TotalPay  TotalPayBenefits
148644          0.00          0.00          0.00      0.00              0.00  \
148645          0.00          0.00          0.00      0.00              0.00
148646  Not Provided  Not Provided  Not Provided      0.00              0.00
148647          0.00          0.00          0.00      0.00              0.00
148648          0.00          0.00          0.00      0.00              0.00
148649          0.00          0.00          0.00      0.00              0.00
148650  Not Provided  Not Provided  Not Provided      0.00              0.00
148651  Not Provided  Not Provided  Not Provided      0.00              0.00
148652  Not Provided  Not Provided  Not Provided      0.00              0.00
148653          0.00       -618.13          0.00   -618.13           -618.13

        Year  Notes         Agency Status
148644  2014    NaN  San Francisco     PT
148645  2014    NaN  San Francisco     PT
148646  2014    NaN  San Francisco    NaN
148647  2014    NaN  San Francisco     PT
148648  2014    NaN  San Francisco     PT
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

Find the shape of our dataset

In [93]:
print(df.shape) ;

(148654, 13)

Getting Info of Data

In [94]:
print(df.info());
print(df.isnull().sum());
# Drop specific columns from the DataFrame
columns_to_drop = ['Id', 'Notes', 'Agency', 'Status']
df.drop(columns=columns_to_drop, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None
Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Getting Overall Statistics of Data Set

In [95]:
print(df.describe());

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000

Find The Occurence of Employee Names

In [96]:
print(df["EmployeeName"].head());

0       NATHANIEL FORD
1         GARY JIMENEZ
2       ALBERT PARDINI
3    CHRISTOPHER CHONG
4      PATRICK GARDNER
Name: EmployeeName, dtype: object

Find the number of unique job title

In [97]:
print(df["JobTitle"].unique());

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'WIRE ROPE CABLE MAINTENANCE MECHANIC'
 ... 'Conversion' 'Cashier 3' 'Not provided']

Total Number of Jobs Containing Captain

In [98]:
len(df[df["JobTitle"].str.contains("Captain",case=False)])

552

Display all the names from Fire Department

In [99]:
df[df["JobTitle"].str.contains("fire",case=False)]["EmployeeName"]

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

Find Maximum , Minimum and Average Base pay

In [100]:
# print(df["BasePay"].isnull().sum())
# print(df["BasePay"].dropna(axis=1));

As per Chatgpt

In [101]:
# Convert 'BasePay' column to a numeric data type
df = df.dropna(subset=['BasePay'])
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')

# Now you can calculate the maximum, minimum, and average
max_base_pay = df['BasePay'].max()
min_base_pay = df['BasePay'].min()
average_base_pay = df['BasePay'].mean()

print("Maximum BasePay:", max_base_pay)
print("Minimum BasePay:", min_base_pay)
print("Average BasePay:", average_base_pay)

Maximum BasePay: 319275.01
Minimum BasePay: -166.01
Average BasePay: 66325.44884048768

Replace vALUESNOT pROVIDED

In [102]:
import numpy as np
df["EmployeeName"].replace("Not provided",np.nan)

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148049, dtype: object

Drop Rows with 5 missing Vlaues

In [106]:
# Drop rows with 5 or more missing values
print(df.dropna(thresh=len(df.columns) - 5, inplace=True))
# df.drop(df[df.isnull().sum(axis=1)==5],axis=0);

None

KeyError: "['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'] not found in axis"

Find the Job Title of ALBER PARDINI

In [107]:
df[df["EmployeeName"]== "ALBERT PARDINI"]["JobTitle"]

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

How much Albert Pardini make ? (include benifits)

In [113]:
TotalPayBenifits = df[df["EmployeeName"]== "ALBERT PARDINI"]["TotalPayBenefits"]
print(TotalPayBenifits)

2    335279.91
Name: TotalPayBenefits, dtype: float64

Find the average base of all employees per year

In [ ]:
print(df.groupby('Year').mean()['BasePay']);

Find the average base pay of all employess per job title

In [123]:
print(df.groupby('JobTitle').mean()['BasePay']);

TypeError: Could not convert NAPOLEON VIRAYBERNADETTE RAMOSSUSAN CHANGOLIVIA BOUDREAUXLI-XIN CAILOLA THOMASTUONG TRUONGAUDREY LEONGWINNIE FUNGELAINE QUANAUBSORN WARDPRISCILLA VUONGJOAQUIN ANDALUZMARINE MAKEUGENIO TOLENTINOCECILIA HERNANDEZGLADYS PALACIOSJOCELYN VERGEL DE DIOSGORGONIA MARTINPRAVIN DESAIAMADO LUMAS JRHARICK BARRETTMARGARITA MENROSA AREVALOELAINE WONPETER KIMJOSE LOPEZANA VILAR UYANNA BOYDDAW WINFANNY HONGROBERTO LIWANAGSARA WANGMARISSA KENGHELENA NGTSUI-HWA LEEOSCAR MIRONWILMA ESPINOSASHAW YU SHIHSTEPHANIE CHANGMONICA NGLORRAINE WONGDINH TRANKAMILLE MASONKENNETH UCHIDACHRISTINE QIUELIZABETH MURILLOSUE TANGIUSEPPE BOSCOLOJAMES LIUCHRISTOPHER COFFEYHUYNHNGA NGUYENYU-HUA CHENFELICIANO PAYUMOMONICA GIESEJUDITH PALANCAJADE LIEVELYN YUMARIA GOMEZJUAN YI JIANGALICE BRONSONWING YIN EST IPKAREN LIROCKSON YANSHELLY LIULILA CHENGZAIRE EARBYBRIDGETT BUCKLEYBEVERLY JOHNSONJOANNA RIVERAJANICE ARAGONTRACY WALKEROLENA VOLYNETSPAULET GAINESJUAN MARTINEZRONALD REYESSUZANNE ZHENGMEI PO LEUNGALISHA WILLISBARBARA BLOUNTLIEN LUMRACHEL LAUTSE SHIH LENG to numeric

Find the average base pay of job title accountant

In [125]:
df[df['JobTitle'] == "Accountant"]["BasePay"].mean();

Find Top 5 comon Jobs

In [ ]:
df["JobTitle"].value_counts();